<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>搜索引擎</title>
</head>

<body>
    <div id="content2">
        <div id="logo" align="center" style="padding-top: 10%">
            <img style="width: 20%;" src="../static/logo.png">
        </div>
        <div id="sear" align="center" style="padding-top: 35px">
            <form action="/gets/" method="post" style="font-size: 25pt">
                <input type="text" name="question" style="font-size: 30pt" />
                <input type="submit" style="font-size: 30pt" value="搜索" />
            </form>
        </div>
        </form>
    </div>
</body>

</html>